.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  padding: 100px;
}
.register-input{
  padding-top: 10px;
  padding-bottom: 10px;
}
